body,
input,
button,
textarea {
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
  outline: none;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: Karla, sans-serif;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

.ui-principal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
}

.ui-nav {
  max-width: 85rem;
  width: 80rem;
}

.ui-ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  justify-content: space-between;
}

.ui-header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out 0s;
  align-self: center;
  position: sticky;
  top: 0px;
  z-index: 8;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.655);
}

.ui-presentation {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: auto;
  width: 100%;
  justify-content: space-around;
  position: relative;
}

.ui-presentation::before {
  content: "";
  width: 100%;
  height: 23rem;
  background-color: rgb(73, 94, 87);
  position: absolute;
  z-index: -1;
}

.ui-presentation-two {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: auto;
  width: 100%;
  justify-content: space-around;
  position: relative;
}

.ui-image > img {
  object-fit: cover;
  width: 20rem;
  height: 25.8rem;
  border-radius: 1.6rem;
  z-index: 2;
  margin-top: 2rem;
}

.ui-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ui-button-y {
  height: 3.3rem;
  border-radius: 1.3rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(244, 206, 20);
  font-size: 1rem;
  font-weight: 700;
  padding: 0px 1.2rem;
  width: 100%;
}

.ui-contend-presentarion {
  display: flex;
  flex-direction: row;
  max-width: 85rem;
  width: 80rem;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.ui-title-presentacion {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
  height: 22rem;
}

.ui-title-contend {
  max-width: 20rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ui-title-presentatiion {
  color: rgb(244, 206, 20);
  font-size: 3rem;
}

.ui-subtitle-presentation {
  color: white;
  font-size: 2.6rem;
  font-weight: 400;
}

.ui-text-presentation {
  max-width: 27rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  justify-content: space-between;
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

h1,
h2 {
  font-family: Karla, sans-serif;
}

.ui-title-contend-about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ui-card {
  display: flex;
  width: 18rem;
  height: 29rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(237, 237, 238);
  color: rgb(0, 0, 0);
  border-radius: 1.6rem 1.6rem 0px 0px;
  justify-content: space-between;
}

.ui-card-header {
  width: 100%;
  border-radius: 1.6rem 1.6rem 0px 0px;
}

.ui-card-header > img {
  object-fit: cover;
  border-radius: 1.6rem 1.6rem 0px 0px;
}

.iu-card-container-about {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.ui-card-main {
  padding: 1.1rem;
}

.ui-card-main p {
  color: rgb(73, 94, 87);
  font-size: 1.1rem;
}

.ui-card-main-testimonial p {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
}

.ui-card-testimonial {
  display: flex;
  width: 12rem;
  height: 27rem;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 1.6rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  align-content: center;
}

.ui-card-circular {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.ui-card-circular > img {
  object-fit: cover;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.ui-text-card-testimonial {
  font-size: 1rem;
}

.ui-card-footer {
  padding: 1.1rem;
}

.ui-card-footer span {
  color: rgb(73, 94, 87);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ui-presentation-testimonial {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: auto;
  width: 100%;
  justify-content: space-around;
  position: relative;
  background-color: #fef4ea;
  height: 100vh;
}

.ui-title-contend-testimonial {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.ui-title-contend-testimonial h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

/*About*/
.ui-presentation-about {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: auto;
  width: 100%;
  justify-content: space-around;
  position: relative;
  background-color: #ffffff;
  height: 100vh;
}

.ui-contend-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 85rem;
  width: 80rem;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

.ui-section-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 7rem;
}

.ui-section-title h1 {
  color: #495e57;
  font-size: 2.5rem;
}

.ui-section-title h2 {
  color: #ee9972;
  font-size: 2rem;
}

.ui-section-img {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ui-conten-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.ui-conten-img img:first-of-type {
  left: -9rem;
  top: 8rem;
  z-index: 2;
  border-radius: 0.5rem;
  position: absolute;
}

.ui-conten-img img {
  object-fit: cover;
  width: 15.7rem;
  height: 20.8rem;
  border-radius: 0.5rem;
}

.ui-section-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(73, 94, 87);
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 20rem;
  padding-top: 2rem;
  gap: 2rem;
}

/*Footer*/
.ui-presentation-footer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: auto;
  width: 100%;
  justify-content: space-around;
  position: relative;
  background-color: #495e57;
  color: white;
  height: fit-content;
}

.ui-presentation-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.ui-image-footer img {
  object-fit: cover;
  width: 11rem;
  height: 19rem;
  border-radius: 1rem;
}

.ui-item-footer {
  display: flex;
  flex-direction: column;
  width: 10rem;
  font-size: 1.1rem;
  color: white;
  gap: 2rem;
}

.ui-item-footer ul {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.ui-item-footer ul li a {
  color: white;
  font-size: 1rem;
}

/*Reservation*/
.ui-contend-reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ui-section-title-form {
  color: #495e57;
}

.ui-section-form {
  display: flex;
  width: 30rem;
}

.ui-section-form form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.ui-section-form form fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px white solid;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.ui-section-form form fieldset label {
  font-size: 1.1rem;
  color: #495e57;
  font-weight: 600;
}

.ui-section-form form input[type=text],.ui-section-form form input[type=date],.ui-section-form form input[type=time], 
.ui-section-form form input[type=password],
.ui-section-form form input[type=number],
.ui-section-form form select {
  display: flex;
  border-radius: 0.5rem;
  background-color: #e6ebe9;
  height: 3.1rem;
  color: rgb(73 94 87 / 80%);
  border: 1px white solid;
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.ui-section-form form textarea {
  display: flex;
  border-radius: 0.5rem;
  background-color: #e6ebe9;
  height: 3.1rem;
  color: rgb(73 94 87 / 80%);
  border: 1px white solid;
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.ui-field-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 100%;
}

.ui-radio{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #e6ebe9;
}

input[type=radio] {

  transform: scale(2.5);
}

.ui-back{
  display: flex;
  width: 100%;
  
}